<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="cont fixa">
        <ul class="main-nav">
            <li>Início</li>
            <li>Sobre</li>
            <li>Nossa Equipe</li>
            <li class="contato">Contato</li>
        </ul>
    </nav>

    <div class="cont main">
        <img class="fundo" src="imagemjpg.jpg">
    </div>

    <div class="elementos">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>

    <footer>
        <p>rodapé</p>
    </footer>

</body>

</html>