*,
body,
html {
    margin: 0;
    padding: 0;
    boder: 0;
}

ul.main-nav {
    list-style-type: none;
}

.main-nav {
    background-color: lightcoral;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    height: 65px;
    margin: 0;
}

.main-nav li {
    margin: 0 25px;
    cursor: pointer;
}

.fixa {
    position: fixed;
    z-index: 0;
    width: 100%;
    top: 0;
}

.main {
    display: flex;
    justify-content: center;
    height: 70%;
}

.fundo {
    margin: 20px 0;
    width: 60%;
}

.elementos {
    background-color: lightseagreen;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    grid-template-rows: auto;
    justify-items: center;
    justify-content: center;
}

.elementos .box {
    background-color: #444;
    padding: 130px;
    margin: 20px;
}

footer {
    background-color: lightgreen;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}