extends ../layouts/main-layout.pug

block title
  title Cart

block styles
  link(rel="stylesheet", href="/css/product.css")

block content
  main
    if (products.length > 0)
      .grid
          ul
            each item in products
              li 
                p #{item.title} (x#{item.cartItem.quantity})
                form(action="/cart-delete-item" method="post")
                  input(type="hidden", name="productId", value=item.id)
                  button.btn(type="submit") Delete
            p Total Price: $ #{totalPrice}

    else
      h1 No products yet!