extends ../layouts/main-layout.pug

block title
  title My Shop

block styles
  link(rel="stylesheet", href="/css/product.css")

block content
  main
    if (prods.length > 0)
      .grid
        each product in prods
          article.card.product-item
            header.card__header
              h1.product__title #{product.title}
            .card__image
              img(src=(product.imgUrl) alt=(product.title))
            .card__content
              h2.product__price $ #{product.price}
              p.product__description #{product.desc}
            .card__actions
              a.btn(href='/products/' + product.id) Details
              form(action="/cart", method="post")
                button.btn(type="submit") Add to Cart
    else
      h1 No products yet!