extends ../layouts/main-layout.pug

block title
  title Product List

block styles
  link(rel="stylesheet", href="/css/product.css")

block content
  main.centered
    h1 #{product.title}
    hr
    div
      img(src=(product.imgUrl) alt=(product.title))
    h2 $ #{product.price}
    p #{product.desc}