extends ../layouts/main-layout.pug

block title
  title #{product.title}

block styles
  link(rel="stylesheet", href="/css/product.css")

block content
  main.centered
    h1 #{product.title}
    hr
    div
      img(src=(product.imgUrl) alt=(product.title))
    h2 $ #{product.price}
    p #{product.desc}
    form(action="/cart", method="post")
      button.btn(type="submit") Add to Cart
      input(type="hidden", name="productId" value=(product.id))