.flex-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* flex-wrap: wrap;
    flex-direction: row-reverse; */
    flex-flow: row-reverse wrap-reverse;
}

.flex-container div {
    width: 65px;
    height: 25px;
    background-color: red;
    text-align: center;
}